body {
  --back-light: #fafaf8;
  --navbar-color: var(--light-warning);
  --super-navbar-color: var(--dark-warning);
  --sidebar-width: 0;
}
.pagination > li > a {
  padding: 6px 12px;
}
.super-title {
  margin-top: 2rem;
}
.subtitle {
  margin: 1.5rem 0 2rem;
  font-size: 1.2rem;
  color: #444;
}
.block {
  padding: 1.2rem;
  background: #fff;
}
.block-title {
  margin: 0 0 2rem;
}

/* LOADABLE */

.loadable-container {
  position: relative;
}
.loadable-container > .loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PAGE */

.page h1 {
  margin: 2rem 0;
}
.page-head {
  position: relative;
}
.page > h4 {
  color: #888;
}

/* QUESTIONS */

.questions {
  margin-bottom: 20px;
}
.question {
  position: relative;
  padding: 15px;
  background: #fff;
  border: 1px solid #ddd;
}
.question:last-child {
  background: #fffcf4;
}
.question .alert {
  margin: 0;
}
.question + .question {
  margin-top: 20px;
}
.question-text {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.question:last-child .question-controls {
  display: block;
}
.question-controls .btn {
  margin: 20px 10px 0 0;
}
.question .result {
  display: flex;
  justify-content: left;
}
.question .result .entity {
  margin: 0 0 10px;
  max-width: 200px;
}
.question .entity + .entity {
  margin-left: 20px;
}
.question .entity h3 {
  margin:0 0 15px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.question .entity .img-thumbnail {
  margin: 0;
  width: 128px;
  height: 128px;
  padding: 10px;
}
.loading .question .question-controls {
  display: none;
}
.question-result {
  padding-top: 60px;
  border-color: #0ae;
}
.question-head {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #0ae;
}