
<div class="page" data-page="main" data-handler="MainPage">

    <div class="page-head">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" data-t="">Main</li>
        </ol>
    </div>

    <h1 data-t="">Expert system demo</h1>

    <div class="es" data-handler="Expert">

        <div class="questions"></div>

        <template data-id="question">
            <div class="question" data-id="{{_id}}">
                <div class="question-text" data-t="meta.class.question">{{text}}</div>
                <div class="answers block-list form">
                    {{answers}}
                </div>
                <div class="question-controls">
                    <button type="button" class="btn btn-primary" data-action="submit">
                        <span data-t="">Submit</span>
                    </button>
                    <button type="button" class="btn-outline-secondary btn" data-action="back">
                        <span data-t="">Back</span>
                    </button>
                </div>
            </div>
        </template>

        <template data-id="checkItem">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="{{_id}}">
                <label class="form-check-label" data-t="meta.class.answer">{{text}}</label>
            </div>
        </template>

        <template data-id="radioItem">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="{{_id}}" name="{{name}}">
                <label class="form-check-label" data-t="meta.class.answer">{{text}}</label>
            </div>
        </template>

        <template data-id="message">
            <div class="question">
                <div class="alert-warning alert">{{text}}</div>
                <div class="question-controls">
                    <button type="button" class="btn-outline-secondary btn" data-action="back">
                        <span data-t="">Back</span>
                    </button>
                </div>
            </div>
        </template>

        <template data-id="result">
            <div class="question-result question">
                <div class="question-head" data-t="">Found matches</div>
                <div class="result thumbnail-sm">{{items}}</div>
                <div class="question-controls">
                    <button type="button" class="btn-outline-secondary btn" data-action="back">
                        <span data-t="">Back</span>
                    </button>
                </div>
            </div>
        </template>

        <template data-id="entity">
            <div class="entity">
                <h3 data-t="meta.class.entity">{{name}}</h3>
                <img data-src="<%- _url('/api/base/file/thumbnail') %>?c=picture&id={{picture}}"
                     class="img-thumbnail img-fluid" alt="">
            </div>
        </template>

        <template data-id="error">
            <div class="alert-danger alert">{{text}}</div>
        </template>
    </div>
</div>